.container {
  font-size: 18px;
  background-color: rgb(246, 246, 180);
  height: 100vh;
  margin: 0px 20px;
  padding: 20px;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
}
h1 {
  flex-grow: 1;
}
.links {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
